{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="topbar" class="row">
                <div class="col-md-2">
                    ROMBIT CRYPTO FUNDS
                </div>
                <div class="col-md-2">
                    <div class="topbar-title">Total</div>
                    <div class="topbar-value">{{ lastBalance.totalEuro | number_format(2) }} &euro;</div>
                </div>
                <div class="col-md-2">
                    <div class="topbar-title">Your percentage</div>
                    <div class="topbar-value">{{ app.user.percentage | number_format(2) }} &percnt;</div>
                </div>
                <div class="col-md-2">
                    {% set yourShare = lastBalance.totalEuro * app.user.percentage/100  %}
                    <div class="topbar-title">Your share</div>
                    <div class="topbar-value {{ yourShare < lastBalance.totalEuro ? 'text-danger' : 'text-success' }}">{{ yourShare | number_format(2) }} &euro;</div>
                </div>
                <div class="col-md-2">
                    <div class="topbar-title">Your initial investment</div>
                    <div class="topbar-value">{{ app.user.initialFunds }} &euro;</div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Whachoe <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Terms&Conditions</a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/logout">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="wallet_spread" class="col-md-8">
                    <div id="balances_tbody" class="container-fluid"></div>
                </div>

                <div id="history" class="col-md-4">
                    <div id="transactions_body" class="container-fluid"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div id="participants_tbody" class="container-fluid"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}