{% trans_default_domain 'FOSUserBundle' %}

{% if error is defined %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form-signin fos_user_change_password_form' } }) }}
<h3 class="form-signin-heading">Change your password</h3>
<hr class="colorgraph"><br>
<div class="container">
    <div class="formGroup">
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.current_password) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {{ form_row(form.plainPassword) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <input type="submit" value="{{ 'change_password.submit'|trans }}"/>
        </div>
    </div>
</div>
{{ form_end(form) }}